<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%-locals.title%></title>
    <meta name="description" content="">
    <link rel="stylesheet" href="/css/output.css">
</head>
<body class="w-full bg-[#F2F2FF]">
    <div class="h-screen w-full">
        <%-include('../components/header.ejs')%>
        <div class="flex flex-col items-center h-5/6">
            <p class="font-semibold text-2xl py-8">
                Upload Product
            </p>
          <%-body%>  
        </div>
          
    </div>
        <script src="/script/validateNumbers.js"></script>
</body>
</html>