<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <meta name="description" content="">
    <link rel="stylesheet" href="/css/output.css">
</head>
<body class="w-full font-Satoshi">
        
        <section class="w-full h-screen">
            <%-include(`../components/${header}.ejs`)%>
                <div class="bg-[url('https://vnumcewwzabqbcvnrccq.supabase.co/storage/v1/object/public/images/display/catalog_page.jpg?t=2024-01-14T12%3A06%3A24.773Z')] bg-cover bg-no-repeat h-2/5 bg-[position:20] backdrop-blur-sm w-full flex flex-col items-center justify-center">
                    <span class="backdrop-blur-sm w-full h-full flex flex-col items-center justify-center text-5xl font-semibold gap-4">
                        <a class="capitalize"><%=catalogParam == undefined ? "Catalog" : catalogParam%></a>
                        <span class="text-base font-normal">
                            <a href="/" class="font-bold">Home</a>
                            <a class="font-bold"> > </a>
                            <a href="/catalog">Shop</a>
                        </span>
                    </span>
                </div>
            <%-body%>
        </section>
        
</body>
</html>