<footer class="w-full bottom-0 h-96 px-32 py-12 bg-rum-swizzle-50 text-ironstone-800 flex flex-row justify-between">
    <div>
        <p class="font-SatoshiBlack text-2xl">
            Siyasik
        </p>
    </div>
    <div>
        <span>
            <p class="text-faded-jade-500 font-SatoshiBold">
                Links
            </p>
            <div class="h-full flex flex-col justify-around">
                
                <a href="/">Home</a>
                <a href="/catalog/page/1">Shop</a>
                <a href="/about">About</a>
            </div>
        </span>
    </div>
    <div>
        <span>
            <p class="text-faded-jade-500 font-SatoshiBold">
                Categories
            </p>
            <div class="h-full flex flex-col justify-around">
                
                <a href="/catalog/games/1">Games</a>
                <a href="/catalog/literature/1">Literature</a>
                <a href="/catalog/delicacies/1">Delicacies</a>
                <a href="/catalog/souvenirs/1">Souvenirs</a>
                <a href="/catalog/clothing/1">Clothing</a>
            </div>
        </span>
    </div>

</footer>   