<header class="flex flex-row justify-between p-8 bg-slate-400">
    <a href="/" class="font-bold text-2xl">logo</a>
    <div>
        <a href="/signup">signup</a>
        <a href="/login">login</a>
    </div>
    
</header>