<div class="w-full max-w-7xl mx-auto flex flex-row h-full relative items-center justify-center">
    <div class="container flex flex-col gap-4 pr-32 text-faded-jade-900">
            <p class="text-5xl font-SatoshiBold text-faded-jade-800">
                About us
            </p>
            <p class="text-2xl">
                Prioritizing comfort and affordability, giving Local Feeling with a Global Feeling
            </p>
            <p>
                Every business has its own story worth telling, a story that reflects the ambition of a team, not just a one-man journey. We, a team of young and talented individuals, aspire to showcase the rich tapestry of Filipino culture to the world. 
            </p>
            <p>
                <span class="text-faded-jade-500 font-bold">Siyasik</span>, an e-commerce platform, dedicates itself to expounding and introducing local Filipino products to the international market. We highlight the <span class="text-faded-jade-500 font-bold">unique cultural nuances</span> woven into each product, echoing the passion of the craftsmen through their creations. 
            </p>
            <p>
                We believe the Philippines has much more to offer than just its <span class="text-faded-jade-500 font-bold">rich and bountiful traditions</span>, sparking smiles and enriching the lives of those who experience them. Here at Siyasik, we prioritize both <span class="text-faded-jade-500 font-bold">comfort and affordability</span>, ensuring that everyone can experience the beauty and quality of Filipino craftsmanship.
            </p>
    </div>
    <div class="aspect-square w-full max-w-lg">
        <img src="https://vnumcewwzabqbcvnrccq.supabase.co/storage/v1/object/public/images/display/about_us_display.jpg" alt="" class="object-cover rounded-3xl w-full h-full drop-shadow-2xl">
    </div>
</div>
<div class="w-full max-w-7xl flex flex-row justify-between">
    <div>
        <div class="flex flex-row items-center gap-4 mb-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24"><path d="M14.145 8.633l-2.145-8.633-2.148 8.636c-.572.366-1.034.877-1.358 1.477l-8.494 1.887 8.494 1.887c.324.6.786 1.111 1.358 1.477l2.148 8.636 2.157-8.64c.571-.367 1.03-.879 1.353-1.479l8.49-1.881-8.492-1.884c-.324-.603-.788-1.116-1.363-1.483zm-2.145 5.367c-1.104 0-2-.896-2-2s.896-2 2-2 2 .896 2 2-.896 2-2 2zm7 5l-3.43-2.186c.474-.352.893-.771 1.245-1.245l2.185 3.431zm-3.521-11.882l3.521-2.117-2.119 3.519c-.386-.542-.86-1.015-1.402-1.402zm-6.955 9.767l-3.524 2.115 2.118-3.521c.387.543.862 1.018 1.406 1.406zm-1.34-8.453l-2.184-3.431 3.431 2.184c-.474.352-.894.772-1.247 1.247z"/></svg>
            <p class="text-5xl font-SatoshiBold ">
                Mission
            </p>
        </div>
        <p>
            To continuously support local Filipino products, fostering strong communities and celebrating the richness of Filipino culture.
        </p>
    </div>
    <div>
        <div class="flex flex-row items-center gap-4 mb-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24"><path d="M12.015 7c4.751 0 8.063 3.012 9.504 4.636-1.401 1.837-4.713 5.364-9.504 5.364-4.42 0-7.93-3.536-9.478-5.407 1.493-1.647 4.817-4.593 9.478-4.593zm0-2c-7.569 0-12.015 6.551-12.015 6.551s4.835 7.449 12.015 7.449c7.733 0 11.985-7.449 11.985-7.449s-4.291-6.551-11.985-6.551zm-.015 5c1.103 0 2 .897 2 2s-.897 2-2 2-2-.897-2-2 .897-2 2-2zm0-2c-2.209 0-4 1.792-4 4 0 2.209 1.791 4 4 4s4-1.791 4-4c0-2.208-1.791-4-4-4z"/></svg>
            <p class="text-5xl font-SatoshiBold ">
                Vision
            </p>
        </div>
        <p>
            To be a leading international e-commerce platform, connecting the world with Filipino craftsmanship and enriching lives through cultural diversity.
        </p>
    </div>
</div>